{% extends '_base.html' %}

{% block page_title %}Post Detail{% endblock %}

{% block content %}
    <div class="card shadow-sm my-3">
        <div class="card-body">
            <h1 class="card-body">{{ post.title }}</h1>
            <p class="card-subtitle mb-2 text-muted small py-2">By: {{ post.author }}</p>
            <p class="card-text py-3">
                {{ post.text }}
            </p>
            {% if post.author == user %}
                 <a href="{% url 'post_update' post.id %}" class="btn  btn-info btn=success">Edit</a> <a
                href="{% url 'post_delete' post.id %}"
                class="btn btn-danger btn=success">Delete</a>
            {% endif %}
        </div>
    </div>
{% endblock %}