{% extends '_base.html' %}

{% block page_title %}Post Detail{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <div class="card shadow-sm my-3">
                <div class="card-body">
                    <h1 class="card-body">Delete</h1>
                    <p class="card-text py-3">
                        Are you sure you want to delete {{ post.title }} post?
                    </p>
                    <form action="" method="post">
                        {% csrf_token %}
                        <a class="btn btn-info btn=success" href="{% url 'post_detail' post.id %}">No yet</a>
                        <input class="btn btn-danger" type="submit" value="Yes, I'm sure">
                    </form>
                </div>
            </div>
        {% else %}
            <div class="card shadow-sm my-3">
                <div class="card-body">
                    <h5 class="card-body">You can just delete your posts</h5>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}